<!DOCTYPE html>
<html>
<head>
    <title>Proposta de Plano</title>
</head>
<body>
    <h1>Proposta de Plano</h1>
    <form id="propostaForm">
        <label for="planoEscolhido">Escolha o plano:</label>
        <select name="select">
            <option value="Bitix Customer Plano 1">Bitix Customer Plano 1</option>
            <option value="Bitix Customer Plano 1">Bitix Customer Plano 2</option>
            <option value="Bitix Customer Plano 1">Bitix Customer Plano 3</option>
            <option value="Bitix Customer Plano 1">Bitix Customer Plano 4</option>
            <option value="Bitix Customer Plano 1">Bitix Customer Plano 5</option>
            <option value="Bitix Customer Plano 1">Bitix Customer Plano 6</option>
        </select>
        <br>

        <div id="beneficiarios">
            <input type="text" />        
        </div>

        <button type="submit">Enviar Proposta</button>
    </form>
    <script src="proposta-form.js"></script>
</body>
</html>